# This configuration file is used to run regression tests. 
# It is a required argument to mainDriver.py
[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/ccruz/devel/modelE.clones/simplex/AR5_v2_branch
# What branch. E.g master, planet, AR5_v2_branch
repobranch=AR5_v2_branch
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/ccruz/regTesting/modelE/AR5_v2_branch
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/home/ccruz/regTesting/scripts
# Compilation type (release, debug (-O0 -g), traps)
buildtype=release
# Where to mail tests report
mailto=giss-modele-regression@lists.nasa.gov
#
#
# The following options are not commonly changed:
# Use SLURM batch system on DISCOVER (NASA only)
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# sponsor ID required by SLURM
sponsorid=s1001
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Only for modelE: makeOld=in-source, makeNew=out-of-source
makesystem=makeOld
# Path where we keep baseline answers. Used for verification.
basedir=/discover/nobackup/ccruz/modelE_baseline
# Update the baseline (if different)
updatebase=yes
# Sort diffreport output
sortdiff=yes
# Diffreport message (One sentence, no quotes)
message=Regression testing of modelE AR5_v2_branch
html=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes

# This section specifies the computational environment including,
# if specified, the module lists and modelErc settings. 
[COMPCONFIG]
# What compilers we use choices: intel, gfortran, nag)
compilers=intel
# Specify version for each compiler
compiler_versions=14.0.3.174
# Specify names of module lists here. Note that thes names must
# correspond to the ones referenced in regTools.py
modulelist=intel_intelmpi
intel_intelmpi=comp/intel-14.0.3.174,mpi/impi-5.0.3.048
#
#
# modelErc settings:
# Where is the modelE data (ICs.BCs)
modeldatadir=/discover/nobackup/projects/giss/prod_input_files
# The following list names must correspond to the ones referenced
# in regTools.py.
# intel settings
intelnetcdf=/usr/local/other/netcdf/3.6.2_intel-10.1.013
intelpnetcdf=/discover/nobackup/mkelley5/pnetcdf-1.2.0
intelesmf=/discover/nobackup/projects/giss/esmf_2_2_ifort_10.1.017_intelmpi
intelmpi=intel
intelmpidir=
intelserialpfunitdir=
intelmpipfunitdir=
# Rundeck configurations
[E_AR5_V2_NINT]
compilers=intel
modes=mpi
npes=8
verification=restartRun

[E_AR5_V2_CADI]
compilers=intel
modes=mpi
npes=44
verification=restartRun

[E_AR5_V2_CAMP]
compilers=intel
modes=mpi
npes=44
verification=restartRun

