[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/ccruz/devel/modelE.clones/simplex/master
# What branch. E.g master, planet, AR5_v2_branch
repobranch=master
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/ccruz/regTesting/modelE/longRuns
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/home/ccruz/regTesting/scripts
# Compilation type (release, debug (-O0 -g), traps)
buildtype=release
# Where to mail tests report
mailto=giss-modele-regression@lists.nasa.gov
#
#
# The following options are not commonly changed:
# Use SLURM batch system on DISCOVER (NASA only)
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# sponsor ID required by SLURM
sponsorid=s1001
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Only for modelE: makeOld=in-source, makeNew=out-of-source
makesystem=makeOld
# Path where we keep baseline answers. Used for verification.
basedir=/discover/nobackup/ccruz/modelE_baseline
# Update the baseline (if different)
updatebase=no
# Sort diffreport output
sortdiff=yes
# Diffreport message (One sentence, no quotes)
message=2-month runs without reproducibility checks.
html=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes

# Rundeck configurations
[nonProduction_E_AR5_C12]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=22

[nonProduction_E4TcadC12]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=22

[EM20]
verification=customRun
compilers=intel,gfortran
modes=mpi
npes=44

[E1oM20]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=44

[E6F40]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=44

[E4arobio_g6c]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=88

[E6TomaF40]
verification=customRun
testlevel=long
compilers=gfortran,intel
modes=mpi
npes=88

[E6TomaF40int]
verification=customRun
testlevel=long
compilers=gfortran,intel
modes=mpi
npes=88

[E6TmatrixF40]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=88

[E_Mars]
verification=customRun
compilers=gfortran,intel
modes=mpi
npes=44

