# This configuration file is used to run regression tests. 
# It is a required argument to mainDriver.py
[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/ccruz/devel/modelE.clones/simplex/planet
# What branch. E.g master, planet, AR5_v2_branch
repobranch=planet
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/ccruz/regTesting/modelE/planet
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/home/ccruz/regTesting/scripts
# Compilation type (release, debug (-O0 -g), traps)
buildtype=release
# Where to mail tests report
mailto=giss-modele-regression@lists.nasa.gov
#
#
#
#
# The following options are not commonly changed:
# Use SLURM batch system on DISCOVER (NASA only)
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# sponsor ID required by SLURM
sponsorid=s1001
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Only for modelE: makeOld=in-source, makeNew=out-of-source
makesystem=makeOld
# Path where we keep baseline answers. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline (if different)
updatebase=yes
# Sort diffreport output
sortdiff=yes
# Diffreport message (One sentence, no quotes)
message=Regression testing of modelE planet branch
html=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes

# Rundeck configurations
[P1oM20]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P1SoM20]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P1oM40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P1SoM40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4M20]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4M40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4qM40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4SM20]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4SM40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[P4SqM40]
compilers=intel,gfortran
modes=serial,mpi
npes=1,8
verification=restartRun

[E_Mars]
compilers=intel,gfortran
modes=serial,mpi
npes=1,4
verification=restartRun

